.fontMKnav {
  font-family: "Chewy", cursive;
  color: black;
  font-size: 26px;
  -webkit-text-fill-color: #171717; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #66659e;
}

.fontNav {
  font-family: "Chewy", cursive;
  color: black !important;
  font-size: 26px;
  -webkit-text-fill-color: #ffff !important; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #66659e !important;
}

.navControl {
  flex-grow: 0 !important;
}
