/* Home */
.vidButton {
  background-color: #66659e !important;
  border: 4px solid #000000 !important;
  display: inline-block !important;
  cursor: pointer !important;
  color: #ffffff !important;

  padding: 10px 10px !important;
  text-decoration: none !important;
  text-shadow: 0px 0px 0px #22ff00 !important;
}
.vidButton:hover {
  background-color: #e6d131 !important;
}
.vidButton:active {
  position: relative !important;
  top: 1px !important;
}

.fontMK {
  font-family: "Chewy", cursive;
  color: black;
  font-size: 100px !important;
  -webkit-text-fill-color: #171717 !important; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 6px !important;
  -webkit-text-stroke-color: #66659e !important;
}

.fontAll {
  font-family: "Chewy", cursive;
  color: black;
  -webkit-text-fill-color: #e6d031; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #66659e;
}
.fontAll2 {
  font-family: "Chewy", cursive;
  color: black;
  -webkit-text-fill-color: #171717; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #66659e;
}

.allButton {
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid #e6d131;
  display: inline-block;
  cursor: pointer;
  color: #66659e;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  padding: 0px 30px;
  text-decoration: none;
}
.allButton:hover {
  background-color: #171717;
}
.allButton:active {
  position: relative;
  top: 1px;
}

/* Album */
.albumFont {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.playerButton {
  background: none;

  border: none;

  color: inherit;

  padding: none;
  width: 100px;
  height: 100px;
}

.player {
  color: white;
  font-size: 30px;
}
.player:hover {
  color: rgb(204, 177, 177);
}
.player:active {
  position: relative;
  left: 5px;
  right: 5px;
  right: 5px;
  left: 5px;
}

.progress3 {
  width: auto;
  height: 10.6px;
  border-radius: 9.6px;
  color: #e6d031;
  border: 1px solid;
  position: relative;
}

.progress3::before {
  content: "";
  position: absolute;
  margin: 1px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: progress-pf82op 1.2s infinite;
}

@keyframes progress-pf82op {
  100% {
    inset: 0;
  }
}

.playerButton2 {
  background: none;

  border: none;

  color: inherit;

  padding: none;
  width: 50px;
  height: 50px;
}

.progress2 {
  width: auto;
  height: 10.6px;
  border-radius: 9.6px;
  color: #e6d031;
  border: 1px solid;
  position: relative;
}

.progress2::before {
  content: "";
  position: absolute;
  margin: 1px;
  inset: 0 0 0 100%;
  border-radius: inherit;
  background: currentColor;
  animation: progress2-pf82op 1.2s infinite;
}

@keyframes progress2-pf82op {
  100% {
    inset: 0;
  }
}

.player2 {
  color: #171717;
  font-size: 30px;
}
.player2:hover {
  color: #e6d031;
}
.player2:active {
  position: relative;
  left: 5px;
  right: 5px;
  right: 5px;
  left: 5px;
}

/* Tour */
.tourFont {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.tiketFont {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}
.tiketFont:hover {
  color: #e6d031;
}
.tiketFont:active {
  position: relative;
  top: 1px;
}

.fontTTS {
  font-family: "Chewy", cursive;
  color: black;
  -webkit-text-fill-color: #e6d031; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #66659e;
  font-size: 64px;
}

.infoButton {
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid #e6d131;
  display: inline-block;
  cursor: pointer;
  color: #66659e;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 0px 30px;
  text-decoration: none;
}
.infoButton:hover {
  background-color: #171717;
  color: white;
}
.infoButton:active {
  position: relative;
  top: 1px;
}

.progress4 {
  width: auto;
  height: 10.6px;
  border-radius: 9.6px;
  color: #e6d031;
  border: 1px solid;
  position: relative;
}

.progress4::before {
  content: "";
  position: absolute;
  margin: 1px;
  inset: 0 100% 0 100%;
  border-radius: inherit;
  background: currentColor;
  animation: progress4-pf82op 1.2s infinite;
}

@keyframes progress4-pf82op {
  100% {
    inset: 0;
  }
}

/* Profile */
.love {
  color: red;
  font-size: 20px;
}
.love:hover {
  color: rgb(226, 104, 104);
}
.love:active {
  position: relative;
  left: 5px;
  right: 5px;
  right: 5px;
  left: 5px;
}

.notLove {
  color: white;
  font-size: 20px;
}
.notLove:hover {
  color: rgb(204, 177, 177);
}
.notLove:active {
  position: relative;
  left: 5px;
  right: 5px;
  right: 5px;
  left: 5px;
}
.loveButton {
  background: none;

  border: none;

  color: inherit;

  padding: none;
}

.dots {
  width: 56px;
  height: 13.4px;
  background: radial-gradient(circle closest-side, #e6d031 90%, #0000) 0 0/33%
    100% space;
  clip-path: inset(0 100% 0 0);
  animation: dots-e3xtdg 1.5s steps(4) infinite;
}

@keyframes dots-e3xtdg {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

/* Register*/
.homeButton {
  background: none;

  border: none;

  color: inherit;

  padding: none;
}

/*Login*/
.inputStyle {
  font-size: 16px;
  border-style: solid;
  padding: 8px;
  border-width: 5px;
  border-radius: 50px;
  border-color: #66659e;
}
.formStyle {
  border-style: solid;
  border-width: 5px;
  border-radius: 50px;
  border-color: #66659e;
  max-width: 371px !important;
}

.fontLogin {
  font-family: "Chewy", cursive;
  color: black;
  -webkit-text-fill-color: #e6d031; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #66659e;
  font-size: 64px;
}

.loginButton {
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid #e6d131;
  display: inline-block;
  cursor: pointer;
  color: #66659e;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 0px 30px;
  text-decoration: none;
}
.loginButton:hover {
  background-color: #171717;
}
.loginButton:active {
  position: relative;
  top: 1px;
}

/* Error */
/* Navbar*/
.fontMKnav {
  font-family: "Chewy", cursive;
  color: black;
  font-size: 26px;
  -webkit-text-fill-color: #171717; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #66659e;
}

.fontNav {
  font-family: "Chewy", cursive;
  color: black !important;
  font-size: 26px;
  -webkit-text-fill-color: #ffff !important; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #66659e !important;
}

.navControl {
  flex-grow: 0 !important;
}
